nav li a {
    text-transform: capitalize;
}

body {
    background-color: #fdfdfd;
    color: #333;
    font: 400 16px/1.2 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

time {
    color: #5e5e5e;
    font-weight: bolder;
}

.post-content strong, .single strong {
    font-weight: 650;
}

.post-content p, .single p {
    line-height: 1.4;
}

.post-content li, .single li {
    line-height: 1.6;
}

.post-content h1, .single h1 {
    font-size: 220%;
    font-weight: 550;
}

.post-content h2, .single h2 {
    margin-top: 2.0em;
    font-size: 170%;
    font-weight: 550;
}

.post-content h3, .single h3 {
    margin-top: 2.0em;
    font-size: 147%;
    font-weight: 550;
}

.post-content h4, .single h4 {
    margin-top: 1.6em;
    font-size: 130%;
    font-weight: 550;
}

figure {
    margin-bottom: 30px;
}

.highlight {
    font-size: 90%;
}

.post-content {
    margin-bottom: 30px;
}

.post-header {
    margin-bottom: 36px;
}

.post-header .fa {
    width: 14.85px;
}

.post-content img:hover, .post-content figure:hover {
    cursor: pointer;
}

figure figcaption {
    color: rgb(94, 94, 94);
    font-style: italic;
}

.post-title {
    font-size: 46px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 1rem;
}

.post-title-index {
    font-size: 32px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 1rem;
}

.blog-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 2rem;
}

aside {
    background: url(/theme/img/bg.webp) no-repeat #0a0d0f;
}

aside nav a:hover {
    color: #d9411e;
    text-decoration: none;
}

.post-title-index a {
    color: black;
}

aside nav ul li {
    line-height: 1.6em;
    font-size: 1.0em;
    text-transform: lowercase;
}

aside div p {
    font-size: .8em;
}

.metadata-description {
    margin-left: .4rem;
    color: #909090;
}

.meta-item {
    margin-bottom: .2rem;
}

.archive dd {
    margin-bottom: 0.5rem;
}

/* Dont show particles with mobile devices */
#particles-js {
    height: 0;
    width: 0;
}

.post-meta .fa {
    width: 14.85px;
}

main article blockquote {
    font-size: 1.0em;
}

/* Handle tablet and larger devices */
@media screen and (min-width: 768px) {
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    aside {
        width: 26vw;
        overflow: hidden;
    }
    
    main {
        left: 26vw;
        overflow-x: visible;
        width: 73vw;
    }
    
    main article {
        margin: 0 6% 2%;
    }
}

@media screen and (min-width: 768px) {
    .smallimg {
        width: 36%;
    }
}