[Unit]
Description=lightweight isso comment server

[Service]
User=root
Environment="ISSO_SETTINGS=/etc/isso.cfg"
ExecStart=/opt/isso/bin/isso -c $ISSO_SETTINGS run

[Install]
WantedBy=multi-user.target